org: resourcingeducation
app: bibletags-data
service: bibletags-data
frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs20.x
  role: arn:aws:iam::572013440289:role/bibletags-data

functions:
  api:
    handler: app.handler
    timeout: 29  # the HTTP API request times out at 30 seconds; so 29 seconds is the max I can set this to
    events:
      - httpApi: '*'
    provisionedConcurrency: ${param:PROVISIONED_CONCURRENCY}
    environment:
      STAGE: ${param:STAGE}
      RDS_USERNAME: ${param:RDS_USERNAME}
      RDS_PASSWORD: ${param:RDS_PASSWORD}
      AUTH_JWT_SECRET: ${param:AUTH_JWT_SECRET}
      AWS_ACCESS_KEY_ID_OVERRIDE: ${param:AWS_ACCESS_KEY_ID_OVERRIDE}
      AWS_SECRET_ACCESS_KEY_OVERRIDE: ${param:AWS_SECRET_ACCESS_KEY_OVERRIDE}
  crons:
    handler: crons.handler
    memorySize: 2048  # mb
    timeout: 900  # 15 minutes
    events:
      - schedule: rate(1 minute)
    environment:
      STAGE: ${param:STAGE}
      RDS_USERNAME: ${param:RDS_USERNAME}
      RDS_PASSWORD: ${param:RDS_PASSWORD}
      AWS_ACCESS_KEY_ID_OVERRIDE: ${param:AWS_ACCESS_KEY_ID_OVERRIDE}
      AWS_SECRET_ACCESS_KEY_OVERRIDE: ${param:AWS_SECRET_ACCESS_KEY_OVERRIDE}

package:
  patterns:
    - '!.env' 
    - '!.git/**' 
    - '!.DS_Store' 
    - '!src/data/**' 
    - '!tests/**' 
    - '!pages/**' 

plugins:
  - serverless-domain-manager
  - serverless-prune-plugin

custom:
  customDomain:
    domainName: ${param:DOMAIN}
    stage: $default
    apiType: http
    endpointType: REGIONAL
  prune:
    automatic: true
    number: 5