<div class="header">

  <div class="header_left">

    <a class="header_logo_a" href="https://bibletags.org">
      <img src="https://s3.amazonaws.com/cdn.gospelpaths.com/tenants/144/1631214025789-logowhitebgexported.svg" class="header_logo" alt="Bible Tags">
    </a>

    <div class="header_title_after_logo">Downloads<br>+ Stats</div>

  </div>

  <div class="header_links">

    <div class="header_link">
      <a class="header_link_a" href="https://bibletags.org/apps-using-bible-tags">
        Bible Tags Apps
      </a>
    </div>

    <div class="header_link">
      <a class="header_link_a" href="https://bibletags.org/publish-a-bible-tags-app">
        Publish An App
      </a>
    </div>

    <div class="header_link">
      <a class="header_link_a" href="https://bibletags.org/publish-a-bible-tags-app">
        Updates
      </a>
    </div>

    <div class="header_link">
      <a class="header_link_a" href="https://bibletags.org/contact">
        Contact
      </a>
    </div>

  </div>

</div>
